@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

.container {

   background-color: rgba(243, 7, 7, 0.074);

}

.titulo {
   color:  white;
   font-size: 50px;
   font-family: 'Noto Serif', serif;
}

.createActivity{
   width: 200px;
   height: 30px;
   font-size: 18px;
   text-align:center;
   border-radius: 10px;
   cursor: pointer;
   margin-top: 5px;
   margin-right: 30px;
   font-family: Arial, Helvetica, sans-serif, serif;
   color: azure;
   background-color: rgba(131, 241, 114, 0.406);
}
.createActivity:hover{
   transform: scale(0.9);
   font-weight: 700;
   background-color: rgb(109, 109, 237);
}
.createActivity:focus{
   background-color: rgba(12, 79, 2, 0.406);
}
.navbar {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   
   margin: auto;
}

.orden {
   color: white;
   font-size: 18px;
   font-weight: 700;
}
.orden label{
   margin-right: 5px;
}
.orden select{
   width: 200px;
   height: 30px;
   text-align: center;
   font-size: 18px;
   border-radius: 10px;
}
.orden select:focus{
   transition: all 0.2s ease;
   background-color: rgba(0, 128, 0, 0.634);
   color: white;
}

.filtradoContinente {
   color: white;
   font-size: 18px;
   font-weight: 700;
}
.filtradoContinente label{
   margin-right: 5px;
}
.filtradoContinente select{
   width: 200px;
   height: 30px;
   text-align: center;
   font-size: 18px;
   border-radius: 10px;
}
.filtradoContinente select:focus{
   transition: all 0.2s ease;
   background-color: rgba(0, 128, 0, 0.634);
   color: white;
}

.filtradoActividad {
   color: white;
   font-size: 18px;
   font-weight: 700;
}
.filtradoActividad label{
   margin-right: 5px;
}
.filtradoActividad select{
   width: 200px;
   height: 30px;
   text-align: center;
   font-size: 18px;
   border-radius: 10px;
}
.filtradoActividad select:focus{
   transition: all 0.2s ease;
   background-color: rgba(0, 128, 0, 0.634);
   color: white;
}



.cards{
   /* display: flex;
   flex-wrap: wrap;
   justify-content: space-around; */
   
      width: 1210px;
      height: max-content;
    
      display: grid;
      grid-template-rows: repeat(auto-fit, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }

.country{
  width: 300px;
  margin-left: 25px;
 color:white;
text-decoration: none;



}

h5{
   color: white;
  
   font-family: 'Noto Serif', serif;
}
.allCountries{
   height: 30px;
   width: 200px;

   border-radius: 10px;
   cursor: pointer;
   margin-left: 25px;
   background-color: rgba(228, 228, 228, 0.939);
}
.allCountries:hover{
   transform: scale(0.9);
   font-weight: 700;
   background-color: rgb(109, 109, 237);
}

.allCountries:focus{
   background-color: rgba(37, 241, 5, 0.406);
}