.paginado{
    display: flex;
    height:50px;
    width: 100%;
    border: solid 1px;

    margin-top: 50px;
    margin-bottom: 50px;

}
.botonPagina{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    
}
.botonPagina li{
    list-style: none;
}

.botonPagina li button{
    width: 45px;
    height: 45px;
    /* border-radius: 50%; */
    font-size: 18px;
    font-weight: 700;
    /* background-color: rgba(96, 96, 96, 0.732); */
    background-color: rgba(173, 172, 172, 0.732);
    transition: all 0.2s ease;
    cursor: pointer;
}

.botonPagina li button:focus{
    width: 43px;
    height: 43px;
    transition: all 0.2s ease;
    background-color: rgba(245, 231, 43, 0.839);
    box-shadow: inset rgba(54, 54, 2, 0.795) 8px 8px 8px;
    border: solid greenyellow 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.botonPagina button{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(86, 160, 57, 0.732);
    transition: all 0.2s ease;
    cursor: pointer;
}

.botonPagina button:focus{
    width: 100px;
    height: 43px;
    transition: all 0.2s ease;
    background-color: rgba(8, 215, 18, 0.839);
    box-shadow: inset rgba(255, 255, 0, 0.723) 8px 8px 8px;
    border: solid greenyellow 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}