.search{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: flex-start;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif, serif;
}

.input{
    width: 200px;
    height: 30px;
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease;
    background-color: rgba(248, 248, 248, 0.214);
    color: white;
    outline: none;
}
.input:focus{
    width: 200px;
    transition: all 0.2s ease;
    outline: rgb(0, 255, 0) 2px solid;
}

.searchCountry{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(228, 228, 228, 0.939);
 }
 .searchCountry:hover{
    transform: scale(0.9);
    font-weight: 700;
    background-color: rgb(109, 109, 237);
 }
 .searchCountry:focus{
    background-color: rgba(37, 241, 5, 0.406);
 }


.allCountries{
    height: 30px;
    width: 200px;

    border-radius: 10px;
    cursor: pointer;
    margin-left: 25px;
    background-color: rgba(228, 228, 228, 0.939);
}
.allCountries:hover{
    transform: scale(0.9);
    font-weight: 700;
    background-color: rgb(109, 109, 237);
}

.allCountries:focus{
    background-color: rgba(37, 241, 5, 0.406);
}



