@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
.main{
  width: 100%;
  height: 100vh;
  /* background-image: url('../src/images/pexelsphoto5775841.png'); */
  /* background-image: url('https://images.pexels.com/photos/6220559/pexels-photo-6220559.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
 
}
  
 .tittle{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding-top: 37px;
      font-size: 70px;
      text-shadow: rgba(4, 54, 203, 0.716) 3px 3px 3px;
      color: white;
      font-family: 'Noto Serif', serif;
      
}

.enter{
    width: 200px;
    height: 80px;
    
    color:  rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px);
    border-radius: 15px 0px  15px 0px;
    transition: all 0.2s ease;
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    cursor: pointer;
    
}
.enter:hover{
    transform: translateY(-5px);
    transition: all 0.2s ease;
    background-color: rgba(101, 124, 239, 0.469);
}